@import "header.scss";
@import "normalize.scss";
@import "slider.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.btn {
  color: #333;
  font-weight: 500;
  font-size: 16px;
}

.basket {
  width: 24px;
  height: 24px;
}

.wrapper {
  margin: 150px 0;
}
