/* ============== Normalized Style ====================== */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ============== Main Style ====================== */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  padding: 0 60px;
}

/* ============== HEADER Style ====================== */

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header-top {
  padding: 14px 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin-right: 24px;
  margin-left: -10px;
  width: 264px;
  height: auto;
}

.header-buttons {
  margin-top: 2px;
}

.btn-red {
  font-size: 16px;
  padding: 11px 18px;
  color: #fff;
  background: red;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.btn-red:hover {
  opacity: 0.7;
}

.btn-red.outlined {
  color: red;
  background: #fff;
  border: solid 1px red;
  font-weight: 300;
}
.btn-red.outlined:hover {
  opacity: 1;
  color: #fff;
  background: red;
}

.basket-container {
  display: flex;
  flex-direction: column;
  transition: 0.25s ease;
  cursor: pointer;
}

.basket-container:hover {
  opacity: 0.7;
}

.basket-container span {
  margin-top: 3px;
  font-size: 10px;
  color: #333;
}

.basket-container svg {
  margin-left: 7px;
  width: 24px;
  height: 24px;
}

.header-bottom {
  overflow: auto;
  background: #fff;
  border-top: 1px solid #c7c7c7;
  scrollbar-width: thin;
}

.header-bottom::-webkit-scrollbar {
  height: 6px;
  background-color: #f9f9fd;
}

.header-bottom::-webkit-scrollbar-thumb {
  background-color: #f51818;
}

.header-bottom::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #f9f9fd;
}

.header-bottom--inner {
  padding: 16px 0;
}

.header-bottom--links {
  display: flex;
}

.header-bottom--link {
  color: #333;
  margin-right: 40px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.header-bottom--link:hover {
  opacity: 0.8;
}

/* ============== Banner Style ====================== */

.banner-block {
  align-content: stretch;
  font-size: 0;
  padding: 32px 0;
  padding-top: 150px;
}

.banner-block > .container {
  justify-content: center;
}

.banner-block--side {
  width: auto;
  height: auto;
}

.banner-block--side img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

/* ============== Product Style ====================== */

.product {
  border: solid 1px hsla(0, 0%, 83.9%, 0.5);
  border-radius: 10px;
  padding: 10px;
  margin: 0 20px;
  max-width: 312px;
}
.product-container {
  margin-top: 40px;
  text-align: center;
}
.product-img {
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.product-container:hover .product-img {
  transform: scale(1.05);
}
.product-img img {
  width: 270px;
  height: 150px;
}
.product-title {
  font-size: 14px;
  color: #333;
  margin: 0 10px;
  font-weight: 300;
}
.product-price {
  display: flex;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 20px;
  justify-content: center;
}
.product-ratings {
  display: flex;
  margin-top: 30px;
  color: red;
  font-size: 16px;
  justify-content: center;
}
.old-price {
  color: #979797;
  font-weight: 300;
  font-size: 14px;
  margin-left: 10px;
  text-decoration: line-through;
}
.product-sale {
  margin-left: 10px;
  display: table-caption;
  background: red;
  color: #fff;
  font-size: 11px;
  border-radius: 4px;
  padding: 3px 5px;
  font-weight: 300;
}
.product-btn {
  padding: 0 10px;
  margin-top: 40px;
  width: 100%;
}
.btn-product {
  width: 100%;
}
.reviews-ratings {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #979797;
  line-height: 25px;
}
.product-ratings span {
  margin-top: 3px;
}

.product-list > .container {
  display: block;
}

.product-list--title {
  font-size: 34px;
  font-weight: 300;
  margin: 40px 0px 15px 0px;
  margin-left: 75px;
}

.product-list--all {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.product-list--all .product {
  border: none;
  margin-right: 40px;
}

/* ============== Modal ====================== */

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(75, 75, 75, 0.3);
}

.modal-content {
  width: 100%;
  max-width: 600px;
  height: 100%;
  background-color: #fff;
  padding: 30px 40px;
}

/* ============== Basket ====================== */

.basket {
  padding: 100px 40px 50px 40px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 32px;
}

.no-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.no-items-logo {
  display: block;
  width: 124px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 40px;
}

.no-items-text {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 300;
}

.checkout {
  padding: 0px 40px 50px 40px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.checkout-item {
  margin-bottom: 40px;
}

.checkout-title {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 25px;
}

.checkout-row {
  display: flex;
  width: 100%;
  gap: 15px;
  margin-top: 15px;
}

.checkout-input {
  height: 42px;
  border-radius: 6px;
  border: 1px solid hsla(0, 0%, 59.2%, 0.5);
  width: 100%;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  transition: all 0.2s ease;
}
.checkout-input:focus {
  border: 1px solid #979797;
}

.input-choose-cont {
  position: relative;
  width: 100%;
}

.input-choose {
  cursor: pointer;
  font-weight: 400;
  color: #000;
}
.input-choose.active {
  border: 1px solid #7e7e7e !important;
}

.input-icon {
  position: absolute;
  top: 13px;
  width: 12px;
  height: 12px;
  right: 20px;
  pointer-events: none;
}

/* ============== Checkbox ====================== */

@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 20px;
    width: 10px;
  }
}
.checkbox {
  background-color: #fff;
  display: inline-block;
  height: 28px;
  margin: 0 0.25em;
  width: 28px;
  border-radius: 4px;
  border: 1px solid #ccc;
  float: right;
}
.checkbox span {
  display: block;
  height: 28px;
  position: relative;
  width: 28px;
  padding: 0;
}
.checkbox span:after {
  -moz-transform: scaleX(-1) rotate(135deg);
  -ms-transform: scaleX(-1) rotate(135deg);
  -webkit-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-right: 4px solid #fff;
  border-top: 4px solid #fff;
  content: "";
  display: block;
  height: 20px;
  left: 3px;
  position: absolute;
  top: 15px;
  width: 10px;
}
.checkbox span:hover:after {
  border-color: #999;
}
.checkbox input {
  display: none;
}
.checkbox input:checked + span:after {
  -webkit-animation: check 0.8s;
  -moz-animation: check 0.8s;
  -o-animation: check 0.8s;
  animation: check 0.8s;
  border-color: #555;
}
.checkbox input:checked + .default:after {
  border-color: #444;
}
.checkbox input:checked + .primary:after {
  border-color: #2196f3;
}
.checkbox input:checked + .success:after {
  border-color: #8bc34a;
}
.checkbox input:checked + .info:after {
  border-color: #3de0f5;
}
.checkbox input:checked + .warning:after {
  border-color: #ffc107;
}
.checkbox input:checked + .danger:after {
  border-color: #f44336;
}

/* ============== Item Basket ====================== */

.items {
  padding: 24px 0;
}

.backet-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  position: relative;
  text-align: center;
  width: 100%;
  color: #333;
  padding: 20px 0px 15px 0px;
  margin-bottom: 15px;
  border-bottom: 1px solid hsla(0, 0%, 59.2%, 0.6);
}

.backet-item--img {
  margin-right: 40px;
  min-width: 200px;
  width: 200px;
}

.backet-item--img img {
  width: 100%;
  height: 100%;
}

.backet-item--title {
  width: 100%;
}

.backet-item--title span {
  display: flex;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.42;
  text-align: left;
  padding-right: 8px;
  margin-bottom: 10px;
}
.backet-item--title button {
  display: flex;
  font-weight: 300;
  font-size: 14px;
  border: none;
  background: none;
}

.backet-item--prices {
  display: flex;
  font-weight: 300;
  align-items: center;
  margin-bottom: 16px;
  white-space: nowrap;
}

.prices-col-new {
  font-size: 20px;
  white-space: nowrap;
}
.prices-col-old {
  display: flex;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 400;
  color: #979797;
  text-decoration: line-through;
}

.item-prices--col {
  margin: 0 50px;
}

.item-prices--count {
  display: flex;
  margin-right: 40px;
  margin-bottom: 4px;
  font-size: 16px;
}

.item-prices--resprice {
  display: flex;
  font-size: 24px;
  font-weight: 400;
  margin-left: 8px;
}

.summary {
  max-width: 340px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.summary-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 4px;
}

.summary-item.bold {
  font-weight: 400;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 24px;
}

.summary-btn {
  width: 100%;
}

.services {
  width: 100%;
  margin-top: 18px;
  color: #979797;
}

.service-title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
}

.service {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  font-size: 16px;
}

.agreements {
  margin-top: 60px;
  color: #979797;
  font-weight: 300;
  line-height: 1.42;
  font-size: 15px;
}

.agreement {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.agreement-text {
  margin-left: 10px;
}

/* ============== Media ====================== */

@media screen and (max-width: 1300px) {
  .no-mobile {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 0 20px;
  }
  .header-top {
    padding: 14px 20px;
  }
  .header-top .container {
    padding: 0px;
  }
  .header-logo {
    width: 225px;
  }
  .header-buttons {
    display: none;
  }
  .product-list--title {
    text-align: center;
    padding-bottom: 0px;
    margin-left: 0px;
    margin: 30px 0px 10px 0px;
  }
}

@media screen and (max-width: 700px) {
  .checkout-row {
    flex-direction: column;
  }
  .backet-item {
    flex-direction: column;
  }
  .item-prices--col {
    margin: 0px 20px 0px 0px;
  }
  .backet-item--title span {
    margin-top: 5px;
    margin-left: 15px;
  }
  .backet-item--title button {
    width: 100%;
    margin-bottom: 10px;
    justify-content: flex-end;
  }
}
